# files generated during compilation:
/makefile.main
/CLB/
/config.*
/configure

# common temporary folders:
aux/
tmp/

# common temporary files to ignore:
*.cbp
*.gcov
*.gcda
*.gcno
*~
*.pyc
*.ipynb_checkpoint*

# IDE related files:
.idea/
.vscode/
.Rproj.user
*.Rproj

# file generated during runs:
output/
Snap*.dat
/*.vtu
/*.txt

# files generated during tests:
test-*/
Running*.log
Running*.time

# cluster & overlay:
/p
/.tclb/

# generated documentation files:
/wiki
/tools/.format/

# tidy home directory: [discard in overlay]
/*.xml
/*.csv
update.sh
/.overlay*
