*~
makefile.main
output*
Running*.log
Running*.time
aux
CLB
*.cbp
Snap*.dat
/*.xml
/config.*
/configure
src/test
my/*
*.gcov
*.gcda
*.gcno
wiki
p
*.pyc
.Rproj.user
/*.vtu
/*.txt
.idea/*
*.ipynb_checkpoint*
